@{
    ViewData["Title"] = "Email Master";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
    @using Microsoft.AspNetCore.Http;

    @inject IHttpContextAccessor HttpContextAccessor;
}

<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />

<style>
    .select2-container--default .select2-selection--single {
        padding: 0rem 0rem !important;
    }

        .select2-container--default .select2-selection--single .select2-selection__arrow {
            top: -8px !important;
        }
</style>
<!-- partial -->
<div class="main-panel main-panel-one" style="width:100% !important">
    <div class="content-wrapper pt-0">
        <div class="row">
            <div class="col-sm-12">
                <div class="home-tab">
                    <div class="tab-content tab-content-basic pt-0">
                        <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview">
                            <div class="row">
                                <div class="col-lg-12 d-flex flex-column">
                                    <div class="row flex-grow">
                                        <div class="col-12 grid-margin stretch-card">
                                            <div class="card card-rounded">
                                                <div class="card-body">

                                                    <input type="hidden" id="flgmode" value="Add" />
                                                    <input type="hidden" id="txtHiddenId" value="0" />
                                                    <input type="hidden" id="Hid_BeatId" value="0" />
                                                    <input type="hidden" id="postid" value="@ViewBag.Id" />
                                                    <input type="hidden" id="custid" value="@ViewBag.custid" />
                                                    <div class="d-sm-flex justify-content-between align-items-start">
                                                        <div>
                                                            <h4 class="card-title card-title-dash">
                                                                <a href="~/Admin/DashboardLogin?id=@HttpContextAccessor.HttpContext.Session.GetString("MainUrl")">Home</a>/ <a href="#">
                                                                    Email Master
                                                                </a>
                                                            </h4>
                                                            <a href="~/Admin/DashboardLogin?id=@HttpContextAccessor.HttpContext.Session.GetString("MainUrl")" class="btn btn-success">
                                                                Back
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <br>
                                                    <div class="row" id="hidshowhead">

                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                <label>Customer Name</label>
                                                                <select name="Customer Name" class="form-control mandatory" id="custidddd" style="border: 1px solid lightgray;" onchange="bindsiteid(this.value)">
                                                                    <option value="0">Select</option>
                                                                    @if (ViewBag.cust != null)
                                                                    {
                                                                        foreach (var item in ViewBag.cust as List<SelectListItem>)
                                                                        {
                                                                            <option value="@item.Value">@item.Text</option>
                                                                        }
                                                                    }
                                                                </select>

                                                            </div>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                <label>Site Name</label>
                                                                <select name="Site Name" class="form-control mandatory" id="siteid" style="border: 1px solid lightgray;" onchange="bindDept(this.value)">
                                                                    <option value="0">Select</option>
                                                                    
                                                                </select>

                                                            </div>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                <label>Department Name</label>
                                                                <select name="Department Name" class="form-control mandatory" id="Dept" style="border: 1px solid lightgray;">
                                                                    <option value="0">Select</option>
                                                                    
                                                                </select>

                                                            </div>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                <label>Email Id</label>
                                                                <input type="email" name="Email Id" class="form-control mandatory" id="EmailId" style="border: 1px solid lightgray;"/>
                                                                


                                                            </div>
                                                        </div>

                                                        <div class="col-md-1" style="margin-top: 37px;">
                                                            <div class="form-group">
                                                              
                                                                <input type="checkbox" id="status" checked aria-label="Checkbox for following text input">
                                                                <label>Status</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3 mt-4">
                                                            <button onclick="saveAll()" id="submitbtn" class="btn btn-success">
                                                                Save
                                                            </button>



                                                        </div>
                                                    </div>

                                                    <div class="row" id="griddiv">

                                                        <div class="col-md-12">
                                                            <div class="table-data">
                                                                <div id="printdiv"></div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- main-panel ends -->
<script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/qrcode/build/qrcode.min.js"></script>
<script src="~/js/Master/EmailMaster.js" asp-append-version="true"></script>
<script src="~/js/InsAjax.js" asp-append-version="true"></script>
<script src="~/js/Master.js" asp-append-version="true"></script>






